<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta description="Mukul Aryal - Developer from Nepal">
  <meta author="Mukul Aryal">
  <title><%= pageTitle %></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
  <style>
    .topnav {
      background-color: #222831;
      overflow: hidden;
      font-family: 'Ubuntu', sans-serif;
      font-weight: 900;
      text-align: center;
      border-bottom-left-radius: 15px;  
      border-bottom-right-radius: 15px;  
    }
    
    .topnav a {
      transition: 0.5s;
      display: block;
      color: #DDDDDD;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 1.2rem;
      margin: 0 0.5rem 0 0.5rem;
      height: 1.7rem;
    }
    
    .topnav .brand{
        transition: 0.5s;
        font-size: 2.5rem;
        margin-left: 2%;
        display: block;
        position: relative;
        bottom: 12px;
    }
    
    .hidden-name{
        display: none;
        color: #F05454;
    }
    
    .topnav .brand:hover{
        transition: 0.5s;
    }
    
    

    
    </style>
</head>

<div class="topnav" id="myTopnav">
    
    <a class="brand" href="/">
       mukul<span class="hidden-name">aryal</span>
    </a>
</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>

$(".brand").hover(function () {
       $(".hidden-name").slideToggle();
        
    }, function () {
        $(".hidden-name").slideToggle();
    }
);

  </script>
