<%- include('partials/top_nav',  {pageTitle: "Contact  Me"})%> 
<link rel="stylesheet" href="css/contact.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div id="#pageTop"></div>

<body>
    <center>
        <h1>Contact Me</h1>

        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=Saraswatinagar,%20Kathmandu&t=&z=13&ie=UTF8&iwloc=&output=embed">
                </iframe>
            </div>
        </div>
        <div class="details">
            <i class="fa fai fa-globe"></i>
            <h2>Saraswatinagar, Kathmandu</h2>

            <i class="fa fai fa-envelope"></i>
            <h2>aryalmukul@gmail.com</h2>

            <i class="fa fai fa-phone"></i>
            <h2>+977-9861367984</h2>

        </div>
    </center>
</body>

<%- include('partials/footer') %> 