<link rel="stylesheet" href="css/home.css">

<%- include('partials/home-nav', {pageTitle: "Mukul Aryal - Developer from Nepal"}) %> 
<body>
    
    <div class="page-top"> 
    <h1>I am <div id="full-name">mukul<span id="last-name"> aryal</span></div></h1>
    <br>
    <h2>I am a self taught programmer and I make things that are cool.</h2>
    <h2>I like to <span id="skill">code.</span></h2>
    </div>
    <div class="right-side">
        <h1>Get to know me better</h1>
        <a href="/about" class="small-action">About</a>
        <a href="/portfolio" class="small-action">Portfolio</a>
        <a href="/blog" class="small-action">Blog</a>
        <a href="/contact" class="small-action">Contact</a>
    </div>
    
</body>

<script src="scripts/home.js"></script>

</html>